<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Resultados</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">




    <a href="/" class="back">🔙 Nova busca</a>
  </div>
</body>
</html>
